<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                            <% if (errorMessage) { %>
                                <div class="user-message user-message--error">
                                    <%= errorMessage %>
                                </div>
                            <% } %>
                            <form class="login-form" action="/login" method="POST">
                                <div class="form-group">
                                    <label for="email">E-Mail</label>
                                    <input
                                        class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %> form-control"
                                        type="email" name="email" id="email" value="<%= oldInput.email %>">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input
                                        class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %> form-control"
                                        type="password" name="password" id="password" value="<%= oldInput.password %>">
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-primary mt-2 mb-2" type="submit">Login</button>
                            </form>
                            <div class="centered">
                                <a class="link-primary" href="/reset">Reset Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>