<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <% if (errorMessage) { %>
                        <div class="user-message user-message--error"><%= errorMessage %></div>
                    <% } %>
                    <form class="login-form" action="/new-password" method="POST">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password">
                        </div>
                        <input type="hidden" name="userId" value="<%= userId %>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary mt-2" type="submit">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>