<div class="agenda">
  <div class="weekday">
    <h2><%= now.toLocaleString('default', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric'}) %></h2>
  </div>
  <% if(events.length >= 1){ %>
  <% events.forEach(e=>{ %>
  <div class="event-container">
    <p><%= e.title %></p>
    <p><%= e.datetime.getHours() %>:<%= e.datetime.getMinutes() %></p>
    <p><%= e.description %></p>
  </div>
  <% }) %>
  <% } else {%>
  <p>No events for today.</p>
  <% } %>

  <!--
  <div class="hours"> <div><span>08:00 am</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>09:00 am</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>10:00 am</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>11:00 am</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>12:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>01:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>02:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>03:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>04:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>05:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>06:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>07:00 pm</span><input type="text" size="35" placeholder="Write here"/></div>
            <div><span>08:00 pm</span><input type="text" size="35" placeholder="Write here"/></div> -->
</div>
</div>