<div class="calendar">
  <div class="cal-header">
    <div><a href="/calendar?year=<%= 1900 + now.getYear() %>&month=<%= now.getMonth() - 1 %>&day=<%= now.getDate() %>"
        class="prev">&#8249;</a></div>
    <div class="month-year"><%= now.toLocaleString('default', { month: 'short'}) %>
        <%= now.toLocaleString('default', { year: 'numeric'}) %></div>
    <div><a href="/calendar?year=<%= 1900 + now.getYear() %>&month=<%= now.getMonth() + 1 %>&day=<%= now.getDate() %>"
        class="next">&#8250;</a></div>
  </div>
  <div class="date">
    <div class="day">S</div>
    <div class="day">M</div>
    <div class="day">T</div>
    <div class="day">W</div>
    <div class="day">T</div>
    <div class="day">F</div>
    <div class="day">S</div>
    <% for(let i=1; i<43; i++ ){ cal.addDays(1) %>
    <a href="?year=<%= 1900 + cal.getYear() %>&month=<%= cal.getMonth() %>&day=<%= cal.getDate() %>"
      class=<%= ( now.getMonth() === cal.getMonth() &&
       now.getDate() === cal.getDate() ) ? "now" : ( now.getMonth() === cal.getMonth() ) ? "same-month" : "no-month"  %>><%= cal.getDate() %></a>
    <% } %>
  </div>
</div>