<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="container">
    <div class="searchBar">
      <input type="search" name="eventSearch" id="eventSearch">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button onclick="searchEvent()">Search</button>
    </div>
    <% events.forEach(e=>{ %>
    <div class="event-container">
      <p class="event-title"><%= e.title %></p>
      <p class="event-date">Scheduled for: <%= e.datetime.getDate() %>/<%= e.datetime.getMonth()+1 %>/<%= e.datetime.getFullYear() %> </p>
      <p class="event-desc"><%= e.description %></p>
    </div>
    <% }) %>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/eventSocket.js"></script>
  <%- include('../includes/end.ejs') %>